.alert.alert-warning {
    position: fixed;
    top: 80px;
    right: 10px;
    z-index: 9999;
}
html {
    scroll-behavior: smooth;
}
.navbar-dark {
    background-color: #030e12;
}
.shape-container {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 100%;
}
.jumbotron {
    margin-bottom: 0;
}
.jumbotron img {
    max-width: 200px;
    max-height: 200px;
    border: 3px solid #fff;
}
section {
    padding-top: 4rem;
}
#about {
    background: #5bccf6;
}
#skills {
    background: #ffffff;
}
#certificates {
    background: #5bccf6;
}
#projects {
    background: #ffffff;
}
#contact {
    background: #5bccf6;
}
.container .card {
    margin-bottom: 2rem;
}
.container h3 {
    padding-bottom: 2rem;
}
.card-image-top {
    cursor: pointer;
}
.contact-form {
    padding-bottom: 6rem;
}
.contact-form form{
    padding: 0 14%;
}
.btnContactSubmit
{
    color: #fff;
    background-color: #030e12;
}
#footer {
    background: #fff;
    padding: 2rem 0;
}